body{
    background-color: burlywood;
}

footer {
    position: relative;
    font-size: 20px;
    background-color: rgb(20, 172, 155);
    border-radius: 5px;
    padding: 0px;
    width: 45%;
    left: 30%;
    bottom: 0%;
    text-align: center;
    }
    .box{
        position: relative;
        margin: auto;
        display: block;
        margin-top: 4%;
        width:650px;
        height: 450px;
        background: none;
 }

 .graph-1{
    position: absolute;
    top: 70%;
    left: 30%;
    width: 5%;
    height: 30%;
    background-color: blueviolet;
    animation: graph-1 3s 1;
 }

 .graph-2{
    position: absolute;
    top: 60%;
    left: 50%;
    width: 5%;
    height: 40%;
    background-color: blueviolet;
    animation: graph-2 4s 1;
 }

 .graph-3{
    position: absolute;
    top: 20%;
    left: 70%;
    width: 5%;
    height: 80%;
    background-color: blueviolet;
    animation: graph-3 5s 1;
 }

 @keyframes graph-1{
    0%{
        height: 0%;
        top: 100%;
    }
    100%{
        height: 30%;
    }
 }

 @keyframes graph-2{
    0%{
        height: 0%;
        top: 100%;
    }
    100%{
        height: 40%;
    }
 }

 @keyframes graph-3{
    0%{
        height: 0%;
        top: 100%;
    }
    100%{
        height: 80%;
    }
 }



   /* .bar1 ,.bar2, .bar3{
        float: left;
        height: 150px;
        margin-right: 8px;
        position: relative;
        text-align: center;
        width: 40px;
      } 

      .bar1 ,.bar2, .bar3 {
        border-radius: 3px;
        bottom: 40px;
        position: absolute;
        width: 40px;
      }

      .bar1{
        background-color: purple;
        animation: 1.2s 0.1s forwards;
      }
      
      .bar2{
        background-color: purple;
        animation: 1.2s 0.2s forwards;
      }
      
      .bar3 {
        background-color: purple;
        animation: 1.2s 0.3s forwards;
      }
      
      /* Bar Graph Vertical Animations */
      @keyframes bar1 {
        0% {
          height: 0;
        }
        100% {
          height: 40%;
        }
      }
      
      @keyframes show-bar2 {
        0% {
          height: 0;
        }
        100% {
          height: 55%;
        }
      }
      
      @keyframes show-bar3{
        0% {
          height: 0;
        }
        100% {
          height: 68%;
        }
      }
      
      
      


